<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Shuttlez.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" startupTimeLimit="300">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="Firebase__ProjectId" value="shuttlez-88d29" />
          <environmentVariable name="Firebase__CredentialsPath" value="App_Data\firebase-adminsdk.json" />
          <environmentVariable name="GOOGLE_APPLICATION_CREDENTIALS" value="App_Data\firebase-adminsdk.json" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
